
/* Body and Html  */
body,html {
    margin: 0;
    padding: 0;
    background-color: #12181B;
}

/* All elements */
* {
    box-sizing: border-box;
}


/* With Class Container */
.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* id Clock */


#clock {
    font-family: 'Orbitron', sans-serif;
    font-size: 15vw;
    background-image: linear-gradient(180deg,
        rgba(99,253,136,1) 0%,
        rgba(51,197,142,1) 50%,
        rgba(39,97,116,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

/* Class Controls */
.controls {
    margin-top: 16px;

}


/* Button Elements */
button {
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    color: rgb(240, 136, 136);
    padding: 4px 8px;
    margin-left: 4px;
    cursor: pointer;
}


/* With Class input label */
.inputlabel{
    color:rgb(204, 120, 11);
    font-size: 4em;
    display:block;
    font-weight: bold;

}


/* Id Alarminput */
#alarminput{
    font-size: 20px;
    width: 80px;
    font-weight: bolder;

}

/* With class List */
.list{
    color:#160040;
    font-size: 25px;
    font-weight: bolder;
    margin: 30px;
    padding: 30px;
    width:80%;
    border:5px solid bisque;
    background-color: #79018C; 

}

/* All Li Elements */

li{
     margin: 30px;
    padding: 30px;
     border:5px solid #160040; 
     background-color: #9A0680;
     font-family: 'Orbitron', sans-serif;
     color: black;

}
/* All ul elements */

ul{
    list-style:none ;
}